{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
     <link type="text/css" href="{% static 'main/css/st.css' %}" rel="stylesheet"/>
</head>
<body class="body">
    <div class="content">
    <div class="left__bar">
        <img class="left__bar-image" src="{% static 'main/images/background.jpg' %}" alt="header image" >
        <h3 class="left__bar-name">Алла Краснова</h3>
        <h5 class="left__bar-prof">МГУ им.твоего сердечка</h5>
        <ul class="left__bar-icons">
            <li class="left__bar-icon"><a class="lefet__bar-link" href="#">
                <img class="left__bar-icon--image" src="{% static 'main/images/inst.svg' %}" alt="instagram icon" >
            </a>
            </li>
            <li class="left__bar-icon"><a class="lefet__bar-link" href="#">
                <img class="left__bar-icon--image" src="{% static 'main/images/vk.svg' %}" alt="VK icon" >
            </a>
            </li>
            <li class="left__bar-icon"><a class="lefet__bar-link" href="#">
                <img class="left__bar-icon--image" src="{% static 'main/images/pint.svg' %}" alt="pinterest icon" >
            </a>
            </li>
        </ul>
        <p class="left__bar-text">
            Front-end разработчик. Практик верстки сайтов.
Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.
        </p>
        <div class="left__bar-button--box">
                <button class="left__bar-button left__bar-button--first">Мои работы</button>

                <button class="left__bar-button left__bar-button--second">Написать мне</button>
        </div>
    </div>
    <div class="inner">
        <nav class="inner__nav">
            <div class="inner__nav-box">
                <ul class="inner__nav-menu">
                    <li class="inner__nav-item">
                        <button href="#" class="inner__nav-item--link">Главная</button>
                    </li>
                     <li class="inner__nav-item">
                        <button href="#" class="inner__nav-item--link">Обо мне</button>
                    </li>
                     <li class="inner__nav-item">
                        <button href="#" class="inner__nav-item--link">Мои практики</button>
                    </li>
                     <li class="inner__nav-item">
                        <button href="#" class="inner__nav-item--link">Мои статьи</button>
                    </li>
                      <li class="inner__nav-item">
                        <button href="#" class="inner__nav-item--link inner__nav-left">Профиль</button>
                    </li>
                </ul>

            </div>
            <input placeholder="Поиск по блогу" class="inner__nav-input" type="text">
        </nav>
        <div class="slider">
            <ul class="slider__items">
                <li class="slider__item">
                    <img class="slider__item-image" src="{% static 'main/images/3.jpg' %}">
                </li>
                   <li class="slider__item">
                    <img class="slider__item-image" src="{% static 'main/images/3.jpg' %}">
                </li>
                   <li class="slider__item">
                    <img class="slider__item-image" src="{% static 'main/images/3.jpg' %}">
                </li>
                   <li class="slider__item">
                    <img class="slider__item-image" src="{% static 'main/images/3.jpg' %}">
                </li>
            </ul>
        </div>
    </div>

    </div>
</body>
<script src="{% static 'main/js/main.js' %}"></script>
</html>
