.content {
    min-width: 1000px;
    display: flex;
    margin: 0 auto;
}

.body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #202020;
}

.left__bar {
    background-color: #202020;
    box-shadow: 15px 0px 15px rgba(5, 5, 5, 0.5);
}

.left__bar-image {
    margin-bottom: 69px;

}

.left__bar-name {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 0 3px 0;
    margin: 0;
}

.left__bar-prof {
    color: #DEDEDE;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.left__bar-icons {
    list-style: none;
    display: flex;
    padding: 17px 0 60px 93px;
    margin: 0;
    position: relative;
}

.left__bar-icons::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 260px;
    background-color: #ffffff;
    z-index: 1;
    top: 75px;
    left: 19px;
}

.left__bar-icon {
    margin-right: 15px;
}

.left__bar-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    max-width: 260px;
    margin-left: 20px;
    padding-bottom: 60px;
    position: relative;
}
.left__bar-text::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 260px;
    background-color: #ffffff;
    z-index: 1;
top: 127px;
    left: -2px;
}

.left__bar-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #ED3024;
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
    border-radius: 25px;
    padding: 13px 25px;
    border: none;
    margin-bottom: 60px;

}
.inner {
    background-color: #171717;
}
.inner__nav{
    padding-bottom: 60px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}
.inner__nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.left__bar-button--first {
    margin-left: 25px;
}
.slider__items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 50px;
    margin: 0;
}
.slider__item-image {
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(.jpg);
filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.left__bar-button--second {
    background: #3137C9;
}

.inner__nav-item--link {
    border: none;
    background: #0D0D0D;
    color: #FFFFFF;
    padding: 13px 13px 14px 15px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}
.inner__nav-left {
    padding-left: 92px;
}
.inner__nav {
    display: flex;
}
.inner__nav-input {
    background: #202020;
box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 12px 106px 12px 20px;
}
.inner__nav-input:focus {
    border: none;
     outline: 0;
}
.main {

}