body{
  background: black;
}
.cont{
    width: 100%;
    display: grid;
    height: 1540px;
    margin: 0 auto;
    grid-template-rows: 100px 300px 1000px 100px;
    grid-row-gap: 13px;
    grid-column-gap: 13px;
    grid-template-columns: 24.34% 24.34% 24.34% 24.34%;
    grid-template-areas:  "prof head head head" "prof nav nav nav" "as main main main" "foot foot foot foot";
}
header{
  grid-area: head;
  text-align: center;
  border: 1px solid white;
  color: white;
    background: black;
}
.profile{
grid-area:prof;
text-align: center;
border: 1px solid white;
color: white;
background: black;
}
nav{
grid-area: nav;
display: grid;
grid-template-columns: 30% 30% 30%;
justify-content: space-around;
grid-column-gap: 5px;
padding-top: 20px;
grid-template-rows: 250px;
grid-template-areas: "im1 im2 im3";
border: 1px solid white;
color: white;
background: black;
}
aside{
grid-area: as;
text-align:center;
padding-top: 450px;
border: 1px solid white;
color: white;
background: black;
}
main{
grid-area: main;
text-align: center;
padding-top:450px;
border: 1px solid white;
color: white;
background: black;
}
footer{
grid-area:foot;
text-align:center;
border: 1px solid white;
color: white;
background: black;
}
.img1{
grid-area: im1;
border: 1px solid white;
text-align:center;
padding-top:80px;
}
.img2{
grid-area: im2;
border: 1px solid white;
text-align:center;
padding-top:80px;
}
.img3{
grid-area: im3;
border: 1px solid white;
text-align:center;
padding-top:80px;
}
.cirkel{
  width: 30%;
  margin-left: 35%;
  margin-top: 15%;
  height: 100px;
  border-radius: 100%;
  border: 1px solid white;
}
